USE [DB_RRHH]
GO
/****** Object:  Table [dbo].[ASISTENCIA_RESUMEN_DIARIO]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASISTENCIA_RESUMEN_DIARIO](
	[id_resumen] [bigint] IDENTITY(1,1) NOT NULL,
	[id_trabajador] [int] NOT NULL,
	[fecha_asistencia] [date] NOT NULL,
	[hora_entrada_teorica] [datetime] NULL,
	[hora_salida_teorica] [datetime] NULL,
	[hora_entrada_real] [datetime] NULL,
	[hora_salida_real] [datetime] NULL,
	[minutos_tardanza] [int] NULL,
	[minutos_extra] [int] NULL,
	[estado_asistencia] [varchar](30) NULL,
	[es_dia_boleta] [bit] NOT NULL,
	[id_cobertura_origen] [int] NULL,
 CONSTRAINT [PK_ARD] PRIMARY KEY CLUSTERED 
(
	[id_resumen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Resumen_Diario] UNIQUE NONCLUSTERED 
(
	[id_trabajador] ASC,
	[fecha_asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUSTIFICACIONES]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUSTIFICACIONES](
	[id_justificacion] [int] IDENTITY(1,1) NOT NULL,
	[id_trabajador] [int] NOT NULL,
	[id_tipo_justificacion] [int] NOT NULL,
	[fecha_justificada] [date] NOT NULL,
	[motivo] [nvarchar](1000) NULL,
	[documento_adjunto_url] [varchar](255) NULL,
	[id_estado] [int] NOT NULL,
	[fecha_autorizacion] [datetime] NULL,
	[usuario_autoriza] [varchar](50) NULL,
	[id_autoriza] [int] NULL,
 CONSTRAINT [PK_Justificaciones] PRIMARY KEY CLUSTERED 
(
	[id_justificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONAS]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAS](
	[id_persona] [int] IDENTITY(1,1) NOT NULL,
	[dni] [varchar](15) NOT NULL,
	[apellidos_nombres] [varchar](100) NOT NULL,
	[correo_personal] [varchar](100) NULL,
	[telefono_personal] [varchar](60) NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Personas_DNI] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRABAJADORES]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRABAJADORES](
	[id_trabajador] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NOT NULL,
	[id_sucursal] [int] NULL,
	[id_jefe_inmediato] [int] NULL,
	[cargo] [varchar](50) NULL,
	[area_departamento] [varchar](50) NULL,
	[fecha_ingreso] [date] NULL,
	[fecha_baja] [date] NULL,
	[id_estado] [int] NOT NULL,
	[sueldo_bruto] [decimal](10, 2) NULL,
	[correo_corporativo] [varchar](100) NULL,
	[telefono_corporativo] [varchar](60) NULL,
	[horas_extra_conf] [bit] NULL,
	[marcaje_en_zona] [bit] NULL,
	[id_user] [int] NULL,
	[tomar_foto] [bit] NOT NULL,
	[id_area] [int] NULL,
 CONSTRAINT [PK_Trabajadores] PRIMARY KEY CLUSTERED 
(
	[id_trabajador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_REPORTE_INCONSISTENCIAS]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_REPORTE_INCONSISTENCIAS] AS
SELECT 
    P.dni AS DNI,
    P.apellidos_nombres AS Nombre,
    T.cargo AS Cargo,
    T.area_departamento AS Area,
    
    -- Formato de fecha (DD/MM/YYYY)
    CONVERT(varchar, R.fecha_asistencia, 103) AS Fecha,
    
    -- Lógica para determinar el texto del botón
    CASE 
        -- Si hay justificación y el estado es APROBADO (ID 2 según nuestro script maestro)
        WHEN J.id_justificacion IS NOT NULL AND J.id_estado = 2 THEN 'Justificado'
        
        -- Si hay justificación pero está PENDIENTE (ID 1)
        WHEN J.id_justificacion IS NOT NULL AND J.id_estado = 1 THEN 'En Revisión'
        
        -- Si no hay nada
        ELSE 'Sin Justificar'
    END AS Estado_Texto,

    -- Columna extra para ayudar a tu Frontend a elegir el color (Rojo/Verde/Amarillo)
    CASE 
        WHEN J.id_justificacion IS NOT NULL AND J.id_estado = 2 THEN 'SUCCESS' -- Verde
        WHEN J.id_justificacion IS NOT NULL AND J.id_estado = 1 THEN 'WARNING' -- Amarillo
        ELSE 'DANGER' -- Rojo
    END AS Estado_Color_Code,

    -- Datos técnicos ocultos (útiles para el click del botón "Ver detalle")
    R.id_resumen,
    T.id_trabajador,
    R.estado_asistencia AS Tipo_Inconsistencia -- Para saber si fue FALTA o TARDANZA

FROM dbo.ASISTENCIA_RESUMEN_DIARIO R
INNER JOIN dbo.TRABAJADORES T ON R.id_trabajador = T.id_trabajador
INNER JOIN dbo.PERSONAS P ON T.id_persona = P.id_persona

-- Hacemos Left Join con Justificaciones para ver si existe alguna para esa fecha exacta
LEFT JOIN dbo.JUSTIFICACIONES J 
    ON J.id_trabajador = T.id_trabajador 
    AND J.fecha_justificada = R.fecha_asistencia
    AND J.id_estado IN (1, 2) -- Solo nos importan Pendientes o Aprobadas (Ignoramos anuladas)

WHERE 
    -- FILTRO CLAVE: Solo mostrar problemas
    R.estado_asistencia IN ('FALTA', 'TARDANZA')
    
    -- Opcional: Ocultar los que ya están justificados si solo quieres ver pendientes
    -- AND (J.id_justificacion IS NULL OR J.id_estado = 1) 
;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AREAS]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREAS](
	[id_area] [int] IDENTITY(1,1) NOT NULL,
	[nombre_area] [varchar](60) NOT NULL,
	[descripcion] [varchar](120) NULL,
	[es_activo] [bit] NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[id_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Areas_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASIGNACIONES_TURNO]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACIONES_TURNO](
	[id_asignacion] [int] IDENTITY(1,1) NOT NULL,
	[id_trabajador] [int] NOT NULL,
	[id_turno] [int] NOT NULL,
	[fecha_inicio_vigencia] [date] NOT NULL,
	[fecha_fin_vigencia] [date] NULL,
	[es_vigente] [bit] NULL,
	[motivo_cambio] [varchar](30) NULL,
	[aprobado_por] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[id_horario_turno] [int] NULL,
 CONSTRAINT [PK_AsignacionTurno] PRIMARY KEY CLUSTERED 
(
	[id_asignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUDIT_LOGIN]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDIT_LOGIN](
	[id_audit] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[username_intentado] [varchar](100) NOT NULL,
	[ip_address] [varchar](45) NOT NULL,
	[user_agent] [varchar](512) NULL,
	[resultado] [varchar](10) NOT NULL,
	[motivo_fallo] [varchar](60) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AuditLogin] PRIMARY KEY CLUSTERED 
(
	[id_audit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALENDARIO_FERIADOS]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALENDARIO_FERIADOS](
	[fecha] [date] NOT NULL,
	[descripcion] [varchar](100) NULL,
	[es_feriado] [bit] NULL,
 CONSTRAINT [PK_Feriados] PRIMARY KEY CLUSTERED 
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COBERTURA_TURNOS]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COBERTURA_TURNOS](
	[id_cobertura] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[id_trabajador_cubre] [int] NOT NULL,
	[id_trabajador_ausente] [int] NOT NULL,
	[id_horario_turno_original] [int] NOT NULL,
	[tipo_cobertura] [varchar](15) NOT NULL,
	[fecha_swap_devolucion] [date] NULL,
	[aprobado_por] [int] NULL,
	[estado] [varchar](12) NOT NULL,
	[id_cobertura_reciproca] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK_CobTurnos] PRIMARY KEY CLUSTERED 
(
	[id_cobertura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CT_FechaAusente] UNIQUE NONCLUSTERED 
(
	[fecha] ASC,
	[id_trabajador_ausente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEVICE_TOKENS]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEVICE_TOKENS](
	[id_device_token] [int] IDENTITY(1,1) NOT NULL,
	[token_hash] [nvarchar](200) NOT NULL,
	[user_id] [int] NOT NULL,
	[device_id] [nvarchar](200) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[revoked] [bit] NOT NULL,
	[expires_at] [datetime2](7) NULL,
	[last_used_at] [datetime2](7) NULL,
	[revoked_at] [datetime2](7) NULL,
 CONSTRAINT [PK_DeviceTokens] PRIMARY KEY CLUSTERED 
(
	[id_device_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DeviceToken_Hash] UNIQUE NONCLUSTERED 
(
	[token_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTACIONES]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTACIONES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Zona] [nvarchar](max) NULL,
	[Estacion] [nvarchar](max) NULL,
	[Administrador] [nvarchar](max) NULL,
	[Celular_Admin] [nvarchar](max) NULL,
	[Auxiliar] [nvarchar](max) NULL,
	[Celular_Auxiliar] [nvarchar](max) NULL,
	[Correo_EESS] [nvarchar](max) NULL,
	[Direccion] [nvarchar](max) NULL,
	[Distrito] [nvarchar](max) NULL,
	[Provincia] [nvarchar](max) NULL,
	[Departamento] [nvarchar](max) NULL,
 CONSTRAINT [PK_Estaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIOS_DETALLE]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOS_DETALLE](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_horario_turno] [int] NOT NULL,
	[dia_semana] [varchar](15) NOT NULL,
	[hora_inicio] [time](0) NOT NULL,
	[hora_fin] [time](0) NOT NULL,
	[hora_inicio_refrigerio] [time](0) NULL,
	[hora_fin_refrigerio] [time](0) NULL,
	[tiempo_refrigerio_minutos] [int] NULL,
	[salida_dia_siguiente] [bit] NULL,
 CONSTRAINT [PK_HorarioDetalle] PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIOS_TURNO]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOS_TURNO](
	[id_horario_turno] [int] IDENTITY(1,1) NOT NULL,
	[id_turno] [int] NOT NULL,
	[nombre_horario] [varchar](50) NOT NULL,
	[es_activo] [bit] NULL,
 CONSTRAINT [PK_HorarioTurno] PRIMARY KEY CLUSTERED 
(
	[id_horario_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAESTRO_ESTADOS]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAESTRO_ESTADOS](
	[id_estado] [int] NOT NULL,
	[grupo_estado] [varchar](30) NOT NULL,
	[nombre_estado] [varchar](50) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[color_hex] [varchar](10) NULL,
 CONSTRAINT [PK_MaestroEstados] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCACIONES_ASISTENCIA]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCACIONES_ASISTENCIA](
	[id_marcacion] [bigint] IDENTITY(1,1) NOT NULL,
	[id_trabajador] [int] NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[tipo_marcacion] [varchar](15) NOT NULL,
	[latitud] [decimal](10, 8) NULL,
	[longitud] [decimal](11, 8) NULL,
	[foto_url] [varchar](255) NULL,
	[ubicacion_valida] [bit] NULL,
	[token_validacion] [varchar](255) NULL,
	[id_sucursal] [int] NULL,
	[id_sucursal_marcacion] [int] NULL,
 CONSTRAINT [PK_Marcaciones] PRIMARY KEY CLUSTERED 
(
	[id_marcacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICACIONES]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICACIONES](
	[id_notificacion] [bigint] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[tipo] [varchar](30) NOT NULL,
	[titulo] [nvarchar](80) NOT NULL,
	[mensaje] [nvarchar](300) NOT NULL,
	[leida] [bit] NOT NULL,
	[leida_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notif] PRIMARY KEY CLUSTERED 
(
	[id_notificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROGRAMACION_DESCANSOS]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAMACION_DESCANSOS](
	[id_programacion] [int] IDENTITY(1,1) NOT NULL,
	[id_trabajador] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[es_descanso] [bit] NOT NULL,
	[es_dia_boleta] [bit] NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK_ProgDesc] PRIMARY KEY CLUSTERED 
(
	[id_programacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PD_TrabFecha] UNIQUE NONCLUSTERED 
(
	[id_trabajador] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROGRAMACION_TURNOS_SEMANAL]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAMACION_TURNOS_SEMANAL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_trabajador] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[id_horario_turno] [int] NULL,
	[es_descanso] [bit] NOT NULL,
	[es_dia_boleta] [bit] NOT NULL,
	[es_vacaciones] [bit] NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[tipo_ausencia] [varchar](30) NULL,
 CONSTRAINT [PK_PTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PTS_TrabFecha] UNIQUE NONCLUSTERED 
(
	[id_trabajador] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REFRESH_TOKENS]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFRESH_TOKENS](
	[id_refresh] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](512) NOT NULL,
	[user_id] [int] NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[revoked] [bit] NOT NULL,
	[revoked_at] [datetime2](7) NULL,
	[ip_address] [varchar](45) NULL,
	[user_agent] [varchar](512) NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[id_refresh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_REFRESH_TOKENS_Token] UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOLICITUDES_HORAS_EXTRA]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOLICITUDES_HORAS_EXTRA](
	[id_solicitud] [int] IDENTITY(1,1) NOT NULL,
	[id_trabajador] [int] NOT NULL,
	[fecha_solicitud] [date] NOT NULL,
	[horas_solicitadas] [decimal](5, 2) NOT NULL,
	[motivo] [nvarchar](1000) NULL,
	[id_estado] [int] NOT NULL,
	[id_jefe_aprueba] [int] NULL,
	[fecha_aprobacion] [datetime] NULL,
 CONSTRAINT [PK_SolicitudesHE] PRIMARY KEY CLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[id_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[nombre_sucursal] [varchar](50) NOT NULL,
	[direccion] [varchar](200) NULL,
	[latitud_centro] [decimal](10, 8) NULL,
	[longitud_centro] [decimal](11, 8) NULL,
	[perimetro_m] [int] NULL,
	[es_activo] [bit] NULL,
 CONSTRAINT [PK_Sucursal] PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Sucursal_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSAL_CENTRO]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSAL_CENTRO](
	[id_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[nombre_sucursal] [varchar](50) NOT NULL,
	[latitud_centro] [decimal](10, 8) NULL,
	[longitud_centro] [decimal](11, 8) NULL,
	[perimetro_m] [int] NULL,
	[es_activo] [bit] NULL,
 CONSTRAINT [PK_SucursalCentro] PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_JUSTIFICACION]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_JUSTIFICACION](
	[id_tipo_justificacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo] [varchar](50) NOT NULL,
	[requiere_adjunto] [bit] NULL,
	[es_activo] [bit] NULL,
 CONSTRAINT [PK_TipoJustificacion] PRIMARY KEY CLUSTERED 
(
	[id_tipo_justificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TipoJust_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_TURNO]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_TURNO](
	[id_tipo_turno] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoTurno] PRIMARY KEY CLUSTERED 
(
	[id_tipo_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TipoTurno_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRABAJADOR_SUCURSALES]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRABAJADOR_SUCURSALES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_trabajador] [int] NOT NULL,
	[id_sucursal] [int] NOT NULL,
	[es_sucursal_principal] [bit] NOT NULL,
	[puede_gestionar] [bit] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
 CONSTRAINT [PK_TrabSuc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TrabSuc] UNIQUE NONCLUSTERED 
(
	[id_trabajador] ASC,
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNOS]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNOS](
	[id_turno] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_turno] [int] NOT NULL,
	[nombre_codigo] [varchar](50) NOT NULL,
	[tolerancia_ingreso] [int] NULL,
	[tolerancia_salida] [int] NULL,
	[es_activo] [bit] NULL,
 CONSTRAINT [PK_Turnos] PRIMARY KEY CLUSTERED 
(
	[id_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Turnos_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](200) NOT NULL,
	[email] [varchar](200) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_USERS_Username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AREAS] ADD  DEFAULT ((1)) FOR [es_activo]
GO
ALTER TABLE [dbo].[ASIGNACIONES_TURNO] ADD  DEFAULT ((1)) FOR [es_vigente]
GO
ALTER TABLE [dbo].[ASIGNACIONES_TURNO] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ASISTENCIA_RESUMEN_DIARIO] ADD  DEFAULT ((0)) FOR [minutos_tardanza]
GO
ALTER TABLE [dbo].[ASISTENCIA_RESUMEN_DIARIO] ADD  DEFAULT ((0)) FOR [minutos_extra]
GO
ALTER TABLE [dbo].[ASISTENCIA_RESUMEN_DIARIO] ADD  DEFAULT ((0)) FOR [es_dia_boleta]
GO
ALTER TABLE [dbo].[AUDIT_LOGIN] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[CALENDARIO_FERIADOS] ADD  DEFAULT ((1)) FOR [es_feriado]
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[DEVICE_TOKENS] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[DEVICE_TOKENS] ADD  DEFAULT ((0)) FOR [revoked]
GO
ALTER TABLE [dbo].[HORARIOS_DETALLE] ADD  DEFAULT ((0)) FOR [salida_dia_siguiente]
GO
ALTER TABLE [dbo].[HORARIOS_TURNO] ADD  DEFAULT ((1)) FOR [es_activo]
GO
ALTER TABLE [dbo].[JUSTIFICACIONES] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [dbo].[NOTIFICACIONES] ADD  DEFAULT ((0)) FOR [leida]
GO
ALTER TABLE [dbo].[NOTIFICACIONES] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[PROGRAMACION_DESCANSOS] ADD  DEFAULT ((0)) FOR [es_descanso]
GO
ALTER TABLE [dbo].[PROGRAMACION_DESCANSOS] ADD  DEFAULT ((0)) FOR [es_dia_boleta]
GO
ALTER TABLE [dbo].[PROGRAMACION_DESCANSOS] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[PROGRAMACION_TURNOS_SEMANAL] ADD  DEFAULT ((0)) FOR [es_descanso]
GO
ALTER TABLE [dbo].[PROGRAMACION_TURNOS_SEMANAL] ADD  DEFAULT ((0)) FOR [es_dia_boleta]
GO
ALTER TABLE [dbo].[PROGRAMACION_TURNOS_SEMANAL] ADD  DEFAULT ((0)) FOR [es_vacaciones]
GO
ALTER TABLE [dbo].[PROGRAMACION_TURNOS_SEMANAL] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[REFRESH_TOKENS] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[REFRESH_TOKENS] ADD  DEFAULT ((0)) FOR [revoked]
GO
ALTER TABLE [dbo].[SOLICITUDES_HORAS_EXTRA] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [dbo].[SUCURSAL] ADD  DEFAULT ((1)) FOR [es_activo]
GO
ALTER TABLE [dbo].[SUCURSAL_CENTRO] ADD  DEFAULT ((1)) FOR [es_activo]
GO
ALTER TABLE [dbo].[TIPO_JUSTIFICACION] ADD  DEFAULT ((0)) FOR [requiere_adjunto]
GO
ALTER TABLE [dbo].[TIPO_JUSTIFICACION] ADD  DEFAULT ((1)) FOR [es_activo]
GO
ALTER TABLE [dbo].[TRABAJADOR_SUCURSALES] ADD  DEFAULT ((0)) FOR [es_sucursal_principal]
GO
ALTER TABLE [dbo].[TRABAJADOR_SUCURSALES] ADD  DEFAULT ((0)) FOR [puede_gestionar]
GO
ALTER TABLE [dbo].[TRABAJADOR_SUCURSALES] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha_inicio]
GO
ALTER TABLE [dbo].[TRABAJADORES] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [dbo].[TRABAJADORES] ADD  DEFAULT ((0)) FOR [tomar_foto]
GO
ALTER TABLE [dbo].[TURNOS] ADD  DEFAULT ((0)) FOR [tolerancia_ingreso]
GO
ALTER TABLE [dbo].[TURNOS] ADD  DEFAULT ((0)) FOR [tolerancia_salida]
GO
ALTER TABLE [dbo].[TURNOS] ADD  DEFAULT ((1)) FOR [es_activo]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ('TRABAJADOR') FOR [role]
GO
ALTER TABLE [dbo].[ASIGNACIONES_TURNO]  WITH CHECK ADD  CONSTRAINT [FK_Asig_Trab] FOREIGN KEY([id_trabajador])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[ASIGNACIONES_TURNO] CHECK CONSTRAINT [FK_Asig_Trab]
GO
ALTER TABLE [dbo].[ASIGNACIONES_TURNO]  WITH CHECK ADD  CONSTRAINT [FK_Asig_Turno] FOREIGN KEY([id_turno])
REFERENCES [dbo].[TURNOS] ([id_turno])
GO
ALTER TABLE [dbo].[ASIGNACIONES_TURNO] CHECK CONSTRAINT [FK_Asig_Turno]
GO
ALTER TABLE [dbo].[ASIGNACIONES_TURNO]  WITH CHECK ADD  CONSTRAINT [FK_AT_Aprueba] FOREIGN KEY([aprobado_por])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[ASIGNACIONES_TURNO] CHECK CONSTRAINT [FK_AT_Aprueba]
GO
ALTER TABLE [dbo].[ASIGNACIONES_TURNO]  WITH CHECK ADD  CONSTRAINT [FK_AT_HorarioTurno] FOREIGN KEY([id_horario_turno])
REFERENCES [dbo].[HORARIOS_TURNO] ([id_horario_turno])
GO
ALTER TABLE [dbo].[ASIGNACIONES_TURNO] CHECK CONSTRAINT [FK_AT_HorarioTurno]
GO
ALTER TABLE [dbo].[ASISTENCIA_RESUMEN_DIARIO]  WITH CHECK ADD  CONSTRAINT [FK_ARD_Cobertura] FOREIGN KEY([id_cobertura_origen])
REFERENCES [dbo].[COBERTURA_TURNOS] ([id_cobertura])
GO
ALTER TABLE [dbo].[ASISTENCIA_RESUMEN_DIARIO] CHECK CONSTRAINT [FK_ARD_Cobertura]
GO
ALTER TABLE [dbo].[ASISTENCIA_RESUMEN_DIARIO]  WITH CHECK ADD  CONSTRAINT [FK_Resumen_Trab] FOREIGN KEY([id_trabajador])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[ASISTENCIA_RESUMEN_DIARIO] CHECK CONSTRAINT [FK_Resumen_Trab]
GO
ALTER TABLE [dbo].[AUDIT_LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_AL_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([id_user])
GO
ALTER TABLE [dbo].[AUDIT_LOGIN] CHECK CONSTRAINT [FK_AL_User]
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_CT_Aprueba] FOREIGN KEY([aprobado_por])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS] CHECK CONSTRAINT [FK_CT_Aprueba]
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_CT_Ausente] FOREIGN KEY([id_trabajador_ausente])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS] CHECK CONSTRAINT [FK_CT_Ausente]
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_CT_Cubre] FOREIGN KEY([id_trabajador_cubre])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS] CHECK CONSTRAINT [FK_CT_Cubre]
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_CT_Horario] FOREIGN KEY([id_horario_turno_original])
REFERENCES [dbo].[HORARIOS_TURNO] ([id_horario_turno])
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS] CHECK CONSTRAINT [FK_CT_Horario]
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_CT_Reciproca] FOREIGN KEY([id_cobertura_reciproca])
REFERENCES [dbo].[COBERTURA_TURNOS] ([id_cobertura])
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS] CHECK CONSTRAINT [FK_CT_Reciproca]
GO
ALTER TABLE [dbo].[DEVICE_TOKENS]  WITH CHECK ADD  CONSTRAINT [FK_DEVICE_TOKENS_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([id_user])
GO
ALTER TABLE [dbo].[DEVICE_TOKENS] CHECK CONSTRAINT [FK_DEVICE_TOKENS_USERS]
GO
ALTER TABLE [dbo].[HORARIOS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Horario] FOREIGN KEY([id_horario_turno])
REFERENCES [dbo].[HORARIOS_TURNO] ([id_horario_turno])
GO
ALTER TABLE [dbo].[HORARIOS_DETALLE] CHECK CONSTRAINT [FK_Detalle_Horario]
GO
ALTER TABLE [dbo].[HORARIOS_TURNO]  WITH CHECK ADD  CONSTRAINT [FK_Horario_Turno] FOREIGN KEY([id_turno])
REFERENCES [dbo].[TURNOS] ([id_turno])
GO
ALTER TABLE [dbo].[HORARIOS_TURNO] CHECK CONSTRAINT [FK_Horario_Turno]
GO
ALTER TABLE [dbo].[JUSTIFICACIONES]  WITH CHECK ADD  CONSTRAINT [FK_Just_Autoriza] FOREIGN KEY([id_autoriza])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[JUSTIFICACIONES] CHECK CONSTRAINT [FK_Just_Autoriza]
GO
ALTER TABLE [dbo].[JUSTIFICACIONES]  WITH CHECK ADD  CONSTRAINT [FK_Just_Estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[MAESTRO_ESTADOS] ([id_estado])
GO
ALTER TABLE [dbo].[JUSTIFICACIONES] CHECK CONSTRAINT [FK_Just_Estado]
GO
ALTER TABLE [dbo].[JUSTIFICACIONES]  WITH CHECK ADD  CONSTRAINT [FK_Just_Tipo] FOREIGN KEY([id_tipo_justificacion])
REFERENCES [dbo].[TIPO_JUSTIFICACION] ([id_tipo_justificacion])
GO
ALTER TABLE [dbo].[JUSTIFICACIONES] CHECK CONSTRAINT [FK_Just_Tipo]
GO
ALTER TABLE [dbo].[JUSTIFICACIONES]  WITH CHECK ADD  CONSTRAINT [FK_Just_Trab] FOREIGN KEY([id_trabajador])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[JUSTIFICACIONES] CHECK CONSTRAINT [FK_Just_Trab]
GO
ALTER TABLE [dbo].[MARCACIONES_ASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_Marca_Trab] FOREIGN KEY([id_trabajador])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[MARCACIONES_ASISTENCIA] CHECK CONSTRAINT [FK_Marca_Trab]
GO
ALTER TABLE [dbo].[MARCACIONES_ASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_MARCACIONES_SUCURSAL_MARCACION] FOREIGN KEY([id_sucursal_marcacion])
REFERENCES [dbo].[SUCURSAL] ([id_sucursal])
GO
ALTER TABLE [dbo].[MARCACIONES_ASISTENCIA] CHECK CONSTRAINT [FK_MARCACIONES_SUCURSAL_MARCACION]
GO
ALTER TABLE [dbo].[NOTIFICACIONES]  WITH CHECK ADD  CONSTRAINT [FK_Notif_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[USERS] ([id_user])
GO
ALTER TABLE [dbo].[NOTIFICACIONES] CHECK CONSTRAINT [FK_Notif_User]
GO
ALTER TABLE [dbo].[PROGRAMACION_DESCANSOS]  WITH CHECK ADD  CONSTRAINT [FK_PD_CreadoPor] FOREIGN KEY([created_by])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[PROGRAMACION_DESCANSOS] CHECK CONSTRAINT [FK_PD_CreadoPor]
GO
ALTER TABLE [dbo].[PROGRAMACION_DESCANSOS]  WITH CHECK ADD  CONSTRAINT [FK_PD_Trabajador] FOREIGN KEY([id_trabajador])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[PROGRAMACION_DESCANSOS] CHECK CONSTRAINT [FK_PD_Trabajador]
GO
ALTER TABLE [dbo].[PROGRAMACION_TURNOS_SEMANAL]  WITH CHECK ADD  CONSTRAINT [FK_PTS_CreadoPor] FOREIGN KEY([created_by])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[PROGRAMACION_TURNOS_SEMANAL] CHECK CONSTRAINT [FK_PTS_CreadoPor]
GO
ALTER TABLE [dbo].[PROGRAMACION_TURNOS_SEMANAL]  WITH CHECK ADD  CONSTRAINT [FK_PTS_HT] FOREIGN KEY([id_horario_turno])
REFERENCES [dbo].[HORARIOS_TURNO] ([id_horario_turno])
GO
ALTER TABLE [dbo].[PROGRAMACION_TURNOS_SEMANAL] CHECK CONSTRAINT [FK_PTS_HT]
GO
ALTER TABLE [dbo].[PROGRAMACION_TURNOS_SEMANAL]  WITH CHECK ADD  CONSTRAINT [FK_PTS_Trab] FOREIGN KEY([id_trabajador])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[PROGRAMACION_TURNOS_SEMANAL] CHECK CONSTRAINT [FK_PTS_Trab]
GO
ALTER TABLE [dbo].[REFRESH_TOKENS]  WITH CHECK ADD  CONSTRAINT [FK_REFRESH_TOKENS_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([id_user])
GO
ALTER TABLE [dbo].[REFRESH_TOKENS] CHECK CONSTRAINT [FK_REFRESH_TOKENS_USERS]
GO
ALTER TABLE [dbo].[SOLICITUDES_HORAS_EXTRA]  WITH CHECK ADD  CONSTRAINT [FK_SolHE_Estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[MAESTRO_ESTADOS] ([id_estado])
GO
ALTER TABLE [dbo].[SOLICITUDES_HORAS_EXTRA] CHECK CONSTRAINT [FK_SolHE_Estado]
GO
ALTER TABLE [dbo].[SOLICITUDES_HORAS_EXTRA]  WITH CHECK ADD  CONSTRAINT [FK_SolHE_Jefe] FOREIGN KEY([id_jefe_aprueba])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[SOLICITUDES_HORAS_EXTRA] CHECK CONSTRAINT [FK_SolHE_Jefe]
GO
ALTER TABLE [dbo].[SOLICITUDES_HORAS_EXTRA]  WITH CHECK ADD  CONSTRAINT [FK_SolHE_Trab] FOREIGN KEY([id_trabajador])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[SOLICITUDES_HORAS_EXTRA] CHECK CONSTRAINT [FK_SolHE_Trab]
GO
ALTER TABLE [dbo].[TRABAJADOR_SUCURSALES]  WITH CHECK ADD  CONSTRAINT [FK_TS_Suc] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[SUCURSAL] ([id_sucursal])
GO
ALTER TABLE [dbo].[TRABAJADOR_SUCURSALES] CHECK CONSTRAINT [FK_TS_Suc]
GO
ALTER TABLE [dbo].[TRABAJADOR_SUCURSALES]  WITH CHECK ADD  CONSTRAINT [FK_TS_Trab] FOREIGN KEY([id_trabajador])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[TRABAJADOR_SUCURSALES] CHECK CONSTRAINT [FK_TS_Trab]
GO
ALTER TABLE [dbo].[TRABAJADORES]  WITH CHECK ADD  CONSTRAINT [FK_Trab_Area] FOREIGN KEY([id_area])
REFERENCES [dbo].[AREAS] ([id_area])
GO
ALTER TABLE [dbo].[TRABAJADORES] CHECK CONSTRAINT [FK_Trab_Area]
GO
ALTER TABLE [dbo].[TRABAJADORES]  WITH CHECK ADD  CONSTRAINT [FK_Trab_Estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[MAESTRO_ESTADOS] ([id_estado])
GO
ALTER TABLE [dbo].[TRABAJADORES] CHECK CONSTRAINT [FK_Trab_Estado]
GO
ALTER TABLE [dbo].[TRABAJADORES]  WITH CHECK ADD  CONSTRAINT [FK_Trab_Jefe] FOREIGN KEY([id_jefe_inmediato])
REFERENCES [dbo].[TRABAJADORES] ([id_trabajador])
GO
ALTER TABLE [dbo].[TRABAJADORES] CHECK CONSTRAINT [FK_Trab_Jefe]
GO
ALTER TABLE [dbo].[TRABAJADORES]  WITH CHECK ADD  CONSTRAINT [FK_Trab_Persona] FOREIGN KEY([id_persona])
REFERENCES [dbo].[PERSONAS] ([id_persona])
GO
ALTER TABLE [dbo].[TRABAJADORES] CHECK CONSTRAINT [FK_Trab_Persona]
GO
ALTER TABLE [dbo].[TRABAJADORES]  WITH CHECK ADD  CONSTRAINT [FK_Trab_Sucursal] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[SUCURSAL] ([id_sucursal])
GO
ALTER TABLE [dbo].[TRABAJADORES] CHECK CONSTRAINT [FK_Trab_Sucursal]
GO
ALTER TABLE [dbo].[TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Tipo] FOREIGN KEY([id_tipo_turno])
REFERENCES [dbo].[TIPO_TURNO] ([id_tipo_turno])
GO
ALTER TABLE [dbo].[TURNOS] CHECK CONSTRAINT [FK_Turno_Tipo]
GO
ALTER TABLE [dbo].[ASIGNACIONES_TURNO]  WITH CHECK ADD  CONSTRAINT [CK_AT_Motivo] CHECK  (([motivo_cambio]='NECESIDAD_OPERATIVA' OR [motivo_cambio]='SOLICITUD_TRABAJADOR' OR [motivo_cambio]='CAMBIO_TEMPORAL' OR [motivo_cambio]='CAMBIO_PERMANENTE' OR [motivo_cambio]='ASIGNACION_INICIAL'))
GO
ALTER TABLE [dbo].[ASIGNACIONES_TURNO] CHECK CONSTRAINT [CK_AT_Motivo]
GO
ALTER TABLE [dbo].[AUDIT_LOGIN]  WITH CHECK ADD  CONSTRAINT [CK_AL_Resultado] CHECK  (([resultado]='BLOCKED' OR [resultado]='FAIL' OR [resultado]='OK'))
GO
ALTER TABLE [dbo].[AUDIT_LOGIN] CHECK CONSTRAINT [CK_AL_Resultado]
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS]  WITH CHECK ADD  CONSTRAINT [CK_CT_Estado] CHECK  (([estado]='DEVUELTO' OR [estado]='EJECUTADO' OR [estado]='RECHAZADO' OR [estado]='APROBADO' OR [estado]='PENDIENTE'))
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS] CHECK CONSTRAINT [CK_CT_Estado]
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS]  WITH CHECK ADD  CONSTRAINT [CK_CT_Tipo] CHECK  (([tipo_cobertura]='ANTICIPO' OR [tipo_cobertura]='CAMBIO' OR [tipo_cobertura]='COBERTURA'))
GO
ALTER TABLE [dbo].[COBERTURA_TURNOS] CHECK CONSTRAINT [CK_CT_Tipo]
GO
ALTER TABLE [dbo].[HORARIOS_DETALLE]  WITH CHECK ADD  CONSTRAINT [CK_HD_DiaSemana] CHECK  (([dia_semana]='DOMINGO' OR [dia_semana]='SABADO' OR [dia_semana]='VIERNES' OR [dia_semana]='JUEVES' OR [dia_semana]='MIERCOLES' OR [dia_semana]='MARTES' OR [dia_semana]='LUNES'))
GO
ALTER TABLE [dbo].[HORARIOS_DETALLE] CHECK CONSTRAINT [CK_HD_DiaSemana]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [CK_USERS_Role] CHECK  (([role]='SUPERADMIN' OR [role]='SUPERVISOR' OR [role]='ADMIN' OR [role]='TRABAJADOR'))
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [CK_USERS_Role]
GO
/****** Object:  StoredProcedure [dbo].[SP_CARGAR_SEMANA_TURNOS]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- PASO 6: SP_CARGAR_SEMANA_TURNOS (nuevo)
-- ============================================================
CREATE PROCEDURE [dbo].[SP_CARGAR_SEMANA_TURNOS]
    @FechaLunes DATE,
    @DatosXML   XML
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @FechaFin DATE = DATEADD(DAY, 6, @FechaLunes);

    DELETE FROM dbo.PROGRAMACION_TURNOS_SEMANAL
    WHERE fecha BETWEEN @FechaLunes AND @FechaFin
      AND id_trabajador IN (
          SELECT T.c.value('@id','INT')
          FROM @DatosXML.nodes('/semana/t') T(c));

    DECLARE @IdTrab INT, @DiaDesc INT, @Boletas VARCHAR(20), @DiasXML XML;

    DECLARE cur CURSOR LOCAL FAST_FORWARD FOR
        SELECT T.c.value('@id','INT'),
               T.c.value('@desc','INT'),
               T.c.value('@bol','VARCHAR(20)'),
               T.c.query('d')
        FROM @DatosXML.nodes('/semana/t') T(c);
    OPEN cur;
    FETCH NEXT FROM cur INTO @IdTrab, @DiaDesc, @Boletas, @DiasXML;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        DECLARE @di INT = 0;
        WHILE @di <= 6
        BEGIN
            DECLARE @idHT INT = NULL;

            -- Leer id_ht del nodo <d dia="X" ht="Y"/>
            SELECT @idHT = D.c.value('@ht','INT')
            FROM @DiasXML.nodes('d') D(c)
            WHERE D.c.value('@dia','INT') = @di;

            -- Fallback 1: id_horario_turno base de ASIGNACIONES_TURNO
            IF @idHT IS NULL OR @idHT = 0
                SELECT TOP 1 @idHT = id_horario_turno
                FROM dbo.ASIGNACIONES_TURNO
                WHERE id_trabajador = @IdTrab AND es_vigente = 1;

            -- Fallback 2: MIN del turno
            IF @idHT IS NULL OR @idHT = 0
                SELECT TOP 1 @idHT = ht.id_horario_turno
                FROM dbo.ASIGNACIONES_TURNO ast
                INNER JOIN dbo.HORARIOS_TURNO ht
                    ON ht.id_turno = ast.id_turno AND ht.es_activo = 1
                WHERE ast.id_trabajador = @IdTrab AND ast.es_vigente = 1
                ORDER BY ht.id_horario_turno ASC;

            IF @idHT IS NOT NULL AND @idHT > 0
            BEGIN
                INSERT INTO dbo.PROGRAMACION_TURNOS_SEMANAL
                    (id_trabajador, fecha, id_horario_turno, es_descanso, es_dia_boleta)
                VALUES (
                    @IdTrab,
                    DATEADD(DAY, @di, @FechaLunes),
                    @idHT,
                    CASE WHEN @di = @DiaDesc THEN 1 ELSE 0 END,
                    CASE WHEN @Boletas LIKE '%' + CAST(@di AS VARCHAR) + '%' THEN 1 ELSE 0 END
                );
            END
            SET @di = @di + 1;
        END
        FETCH NEXT FROM cur INTO @IdTrab, @DiaDesc, @Boletas, @DiasXML;
    END
    CLOSE cur; DEALLOCATE cur;

    PRINT '>> SP_CARGAR_SEMANA_TURNOS: ' + CAST(@FechaLunes AS VARCHAR) + ' → ' + CAST(@FechaFin AS VARCHAR);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PROCESAR_CIERRE_DIARIO_ASISTENCIA]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================================
  -- SCRIPT 2 DE 2 · SP_PROCESAR_CIERRE_DIARIO_ASISTENCIA v4
  -- Cambios respecto a v3:
  --   1. tipo_ausencia en PTS (DESCANSO_MEDICO, MATERNIDAD, etc.)
  --   2. Tolerancia de ingreso en tardanza (paso E)
  --   3. DESCANSO_COMPENSATORIO también para COBERTURA con fecha_swap_devolucion
  --   4. Feriados no sobreescriben ausencias médicas/maternidad
  -- ================================================================
  CREATE PROCEDURE [dbo].[SP_PROCESAR_CIERRE_DIARIO_ASISTENCIA]
      @FechaProceso DATE = NULL
  AS
  BEGIN
      SET NOCOUNT ON;
      IF @FechaProceso IS NULL
          SET @FechaProceso = DATEADD(DAY, -1, CAST(GETDATE() AS DATE));

      DECLARE @DiaSemana VARCHAR(15) = UPPER(CASE DATEPART(WEEKDAY, @FechaProceso)
          WHEN 1 THEN 'DOMINGO'  WHEN 2 THEN 'LUNES'
          WHEN 3 THEN 'MARTES'   WHEN 4 THEN 'MIERCOLES'
          WHEN 5 THEN 'JUEVES'   WHEN 6 THEN 'VIERNES'
          WHEN 7 THEN 'SABADO' END);

      PRINT '>> SP Cierre v4 · Fecha: ' + CAST(@FechaProceso AS VARCHAR) + ' (' + @DiaSemana + ')';

      -- Idempotente
      DELETE FROM dbo.ASISTENCIA_RESUMEN_DIARIO WHERE fecha_asistencia = @FechaProceso;

      -- ── A: INSERT base ─────────────────────────────────────────────
      INSERT INTO dbo.ASISTENCIA_RESUMEN_DIARIO
      (id_trabajador, fecha_asistencia, hora_entrada_teorica, hora_salida_teorica,
       hora_entrada_real, hora_salida_real, minutos_tardanza, minutos_extra,
       estado_asistencia, es_dia_boleta)
      SELECT
          T.id_trabajador, @FechaProceso,
          DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', HD.hora_inicio), CAST(@FechaProceso AS DATETIME)),
          CASE WHEN HD.salida_dia_siguiente = 1
               THEN DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', HD.hora_fin), CAST(DATEADD(DAY,1,@FechaProceso) AS DATETIME))
               ELSE DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', HD.hora_fin), CAST(@FechaProceso AS DATETIME))
          END,
          NULL, NULL, 0, 0, 'PENDIENTE', ISNULL(PTS.es_dia_boleta, 0)
      FROM dbo.TRABAJADORES T
      INNER JOIN dbo.ASIGNACIONES_TURNO AST
          ON  AST.id_trabajador = T.id_trabajador AND AST.es_vigente = 1
          AND @FechaProceso >= AST.fecha_inicio_vigencia
          AND (AST.fecha_fin_vigencia IS NULL OR @FechaProceso <= AST.fecha_fin_vigencia)
      INNER JOIN dbo.HORARIOS_TURNO HT
          ON HT.id_horario_turno = ISNULL(
              (SELECT TOP 1 pts2.id_horario_turno
               FROM dbo.PROGRAMACION_TURNOS_SEMANAL pts2
               WHERE pts2.id_trabajador = T.id_trabajador
                 AND pts2.fecha         = @FechaProceso
                 AND pts2.es_descanso   = 0
                 AND pts2.es_vacaciones = 0
                 AND pts2.tipo_ausencia IS NULL),    -- ← NUEVO: excluir ausencias especiales
              AST.id_horario_turno)
          AND HT.es_activo = 1
      INNER JOIN dbo.HORARIOS_DETALLE HD
          ON HD.id_horario_turno = HT.id_horario_turno
          AND HD.dia_semana = @DiaSemana
      LEFT JOIN dbo.PROGRAMACION_TURNOS_SEMANAL PTS
          ON PTS.id_trabajador = T.id_trabajador AND PTS.fecha = @FechaProceso
      WHERE T.id_estado = 10;

      PRINT '>> Filas base: ' + CAST(@@ROWCOUNT AS VARCHAR);

      -- ── A2: NUEVO — Ausencias sin horario (ROT con tipo_ausencia, sin HT en PTS) ──
      -- Captura trabajadores que paso A no insertó por no tener HorarioDetalle ese día
      INSERT INTO dbo.ASISTENCIA_RESUMEN_DIARIO
      (id_trabajador, fecha_asistencia, hora_entrada_teorica, hora_salida_teorica,
       hora_entrada_real, hora_salida_real, minutos_tardanza, minutos_extra,
       estado_asistencia, es_dia_boleta)
      SELECT T.id_trabajador, @FechaProceso,
          NULL, NULL, NULL, NULL, 0, 0,
          UPPER(PTS.tipo_ausencia), 0
      FROM dbo.TRABAJADORES T
      INNER JOIN dbo.PROGRAMACION_TURNOS_SEMANAL PTS
          ON  PTS.id_trabajador = T.id_trabajador
          AND PTS.fecha         = @FechaProceso
          AND PTS.tipo_ausencia IS NOT NULL
      WHERE T.id_estado = 10
        AND NOT EXISTS (
            SELECT 1 FROM dbo.ASISTENCIA_RESUMEN_DIARIO ARD
            WHERE ARD.id_trabajador    = T.id_trabajador
              AND ARD.fecha_asistencia = @FechaProceso);

      PRINT '>> Filas ausencias especiales: ' + CAST(@@ROWCOUNT AS VARCHAR);

      -- ── B: Descansos y vacaciones desde PTS (booleans legacy) ──────
      UPDATE dbo.ASISTENCIA_RESUMEN_DIARIO SET estado_asistencia = 'DESCANSO'
      WHERE fecha_asistencia = @FechaProceso
        AND id_trabajador IN (
            SELECT id_trabajador FROM dbo.PROGRAMACION_TURNOS_SEMANAL
            WHERE fecha = @FechaProceso AND es_descanso = 1);

      UPDATE dbo.ASISTENCIA_RESUMEN_DIARIO SET estado_asistencia = 'VACACIONES'
      WHERE fecha_asistencia = @FechaProceso
        AND id_trabajador IN (
            SELECT id_trabajador FROM dbo.PROGRAMACION_TURNOS_SEMANAL
            WHERE fecha = @FechaProceso
              AND (es_vacaciones = 1 OR tipo_ausencia = 'VACACIONES')); -- ← NUEVO: unifica vacaciones

      -- B3: NUEVO — Ausencias especiales para FIJ que tienen horario base
      -- (ya insertados por paso A, solo actualizar el estado)
      UPDATE R SET R.estado_asistencia = UPPER(PTS.tipo_ausencia)
      FROM dbo.ASISTENCIA_RESUMEN_DIARIO R
      INNER JOIN dbo.PROGRAMACION_TURNOS_SEMANAL PTS
          ON  PTS.id_trabajador = R.id_trabajador
          AND PTS.fecha         = @FechaProceso
          AND PTS.tipo_ausencia IS NOT NULL
          AND PTS.tipo_ausencia <> 'VACACIONES'   -- ya manejado arriba
      WHERE R.fecha_asistencia = @FechaProceso;

      -- ── C: Coberturas aprobadas ─────────────────────────────────────
      UPDATE R SET R.estado_asistencia = 'FALTA_CUBIERTA', R.id_cobertura_origen = CT.id_cobertura
      FROM dbo.ASISTENCIA_RESUMEN_DIARIO R
      INNER JOIN dbo.COBERTURA_TURNOS CT
          ON CT.id_trabajador_ausente = R.id_trabajador AND CT.fecha = @FechaProceso
          AND CT.estado = 'APROBADO' AND CT.tipo_cobertura = 'COBERTURA'
      WHERE R.fecha_asistencia = @FechaProceso;

      UPDATE R SET R.estado_asistencia = 'COBERTURA_EXTRA', R.id_cobertura_origen = CT.id_cobertura
      FROM dbo.ASISTENCIA_RESUMEN_DIARIO R
      INNER JOIN dbo.COBERTURA_TURNOS CT
          ON CT.id_trabajador_cubre = R.id_trabajador AND CT.fecha = @FechaProceso
          AND CT.estado = 'APROBADO' AND CT.tipo_cobertura = 'COBERTURA'
      WHERE R.fecha_asistencia = @FechaProceso;

      UPDATE R SET
          R.hora_entrada_teorica = DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', HD2.hora_inicio), CAST(@FechaProceso AS DATETIME)),
          R.hora_salida_teorica  = CASE WHEN HD2.salida_dia_siguiente = 1
              THEN DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', HD2.hora_fin), CAST(DATEADD(DAY,1,@FechaProceso) AS DATETIME))
              ELSE DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00', HD2.hora_fin), CAST(@FechaProceso AS DATETIME)) END,
          R.estado_asistencia = 'ASISTENCIA_SWAP', R.id_cobertura_origen = CT.id_cobertura
      FROM dbo.ASISTENCIA_RESUMEN_DIARIO R
      INNER JOIN dbo.COBERTURA_TURNOS CT
          ON CT.id_trabajador_cubre = R.id_trabajador AND CT.fecha = @FechaProceso
          AND CT.estado = 'APROBADO' AND CT.tipo_cobertura = 'CAMBIO'
      INNER JOIN dbo.HORARIOS_DETALLE HD2
          ON HD2.id_horario_turno = CT.id_horario_turno_original AND HD2.dia_semana = @DiaSemana
      WHERE R.fecha_asistencia = @FechaProceso;

      -- DESCANSO_COMPENSATORIO: ANTICIPO + COBERTURA con fecha devolución
      UPDATE dbo.ASISTENCIA_RESUMEN_DIARIO SET estado_asistencia = 'DESCANSO_COMPENSATORIO'
      WHERE fecha_asistencia = @FechaProceso
        AND id_trabajador IN (
            SELECT id_trabajador_cubre FROM dbo.COBERTURA_TURNOS
            WHERE fecha_swap_devolucion = @FechaProceso
              AND tipo_cobertura IN ('ANTICIPO', 'COBERTURA')  -- ← NUEVO: también COBERTURA
              AND estado = 'APROBADO');

      -- ── D: Marcaciones reales ───────────────────────────────────────
      UPDATE R SET R.hora_entrada_real = (
          SELECT TOP 1 M.fecha_hora FROM dbo.MARCACIONES_ASISTENCIA M
          WHERE M.id_trabajador = R.id_trabajador AND M.tipo_marcacion = 'ENTRADA'
            AND CAST(M.fecha_hora AS DATE) = @FechaProceso ORDER BY M.fecha_hora ASC)
      FROM dbo.ASISTENCIA_RESUMEN_DIARIO R
      WHERE R.fecha_asistencia = @FechaProceso
        AND R.estado_asistencia NOT IN (
            'DESCANSO','VACACIONES','FALTA_CUBIERTA','DESCANSO_COMPENSATORIO',
            'DESCANSO_MEDICO','MATERNIDAD','PATERNIDAD','PERMISO_SIN_GOCE');  -- ← NUEVO

      UPDATE R SET R.hora_salida_real = COALESCE(
          (SELECT TOP 1 M.fecha_hora FROM dbo.MARCACIONES_ASISTENCIA M
           WHERE M.id_trabajador = R.id_trabajador AND M.tipo_marcacion = 'SALIDA'
             AND CAST(M.fecha_hora AS DATE) = @FechaProceso ORDER BY M.fecha_hora DESC),
          (SELECT TOP 1 M.fecha_hora FROM dbo.MARCACIONES_ASISTENCIA M
           INNER JOIN dbo.PROGRAMACION_TURNOS_SEMANAL PTS2
               ON PTS2.id_trabajador = M.id_trabajador AND PTS2.fecha = @FechaProceso
           INNER JOIN dbo.HORARIOS_DETALLE HD3
               ON HD3.id_horario_turno = PTS2.id_horario_turno
               AND HD3.dia_semana = @DiaSemana AND HD3.salida_dia_siguiente = 1
           WHERE M.id_trabajador = R.id_trabajador AND M.tipo_marcacion = 'SALIDA'
             AND CAST(M.fecha_hora AS DATE) = DATEADD(DAY, 1, @FechaProceso)
             AND M.fecha_hora < DATEADD(SECOND, DATEDIFF(SECOND,'00:00:00','08:00:00'),
                 CAST(DATEADD(DAY,1,@FechaProceso) AS DATETIME))
           ORDER BY M.fecha_hora DESC))
      FROM dbo.ASISTENCIA_RESUMEN_DIARIO R
      WHERE R.fecha_asistencia = @FechaProceso
        AND R.estado_asistencia NOT IN (
            'DESCANSO','VACACIONES','FALTA_CUBIERTA','DESCANSO_COMPENSATORIO',
            'DESCANSO_MEDICO','MATERNIDAD','PATERNIDAD','PERMISO_SIN_GOCE');  -- ← NUEVO

      -- ── E: Tardanza y horas extra (con tolerancia_ingreso del turno) ─
      UPDATE R
      SET
          minutos_tardanza = CASE
              WHEN R.hora_entrada_real > DATEADD(MINUTE, ISNULL(TU.tolerancia_ingreso, 0), R.hora_entrada_teorica)
              THEN DATEDIFF(MINUTE, R.hora_entrada_teorica, R.hora_entrada_real)
              ELSE 0
          END,
          minutos_extra = CASE
              WHEN R.hora_salida_real IS NOT NULL AND R.hora_salida_real > R.hora_salida_teorica
              THEN DATEDIFF(MINUTE, R.hora_salida_teorica, R.hora_salida_real)
              ELSE 0
          END
      FROM dbo.ASISTENCIA_RESUMEN_DIARIO R
      INNER JOIN dbo.ASIGNACIONES_TURNO AST
          ON  AST.id_trabajador = R.id_trabajador
          AND AST.es_vigente    = 1
          AND @FechaProceso >= AST.fecha_inicio_vigencia
          AND (AST.fecha_fin_vigencia IS NULL OR @FechaProceso <= AST.fecha_fin_vigencia)
      INNER JOIN dbo.TURNOS TU
          ON TU.id_turno = AST.id_turno
      WHERE R.fecha_asistencia   = @FechaProceso
        AND R.hora_entrada_real IS NOT NULL;

      -- ── F: Estado final (solo filas PENDIENTE) ─────────────────────
      UPDATE dbo.ASISTENCIA_RESUMEN_DIARIO
      SET estado_asistencia = CASE
          WHEN hora_entrada_real IS NULL THEN 'FALTA'
          WHEN minutos_tardanza  > 0     THEN 'TARDANZA'
          ELSE 'ASISTENCIA' END
      WHERE fecha_asistencia  = @FechaProceso
        AND estado_asistencia = 'PENDIENTE';

      -- ── G: Feriados — no sobreescribir ausencias programadas ────────
      UPDATE dbo.ASISTENCIA_RESUMEN_DIARIO SET estado_asistencia = 'FERIADO'
      WHERE fecha_asistencia = @FechaProceso
        AND estado_asistencia NOT IN (
            'VACACIONES','DESCANSO','DESCANSO_COMPENSATORIO','FALTA_CUBIERTA',
            'DESCANSO_MEDICO','MATERNIDAD','PATERNIDAD','PERMISO_SIN_GOCE')   -- ← NUEVO
        AND EXISTS (
            SELECT 1 FROM dbo.CALENDARIO_FERIADOS
            WHERE fecha = @FechaProceso AND es_feriado = 1);

      -- ── H: Cerrar coberturas ────────────────────────────────────────
      UPDATE dbo.COBERTURA_TURNOS SET estado = 'EJECUTADO', updated_at = SYSUTCDATETIME()
      WHERE fecha = @FechaProceso AND estado = 'APROBADO';

      UPDATE dbo.COBERTURA_TURNOS SET estado = 'DEVUELTO', updated_at = SYSUTCDATETIME()
      WHERE fecha_swap_devolucion = @FechaProceso
        AND tipo_cobertura = 'ANTICIPO' AND estado = 'EJECUTADO';


      -- ── Resumen final ───────────────────────────────────────────────
      SELECT estado_asistencia, COUNT(*) AS n
      FROM dbo.ASISTENCIA_RESUMEN_DIARIO
      WHERE fecha_asistencia = @FechaProceso
      GROUP BY estado_asistencia
      ORDER BY estado_asistencia;

 UPDATE R                                                                                                                                                                                                                                                                       SET                                                                                                                                                                                                                                                                                R.estado_asistencia = UPPER(P.tipo_ausencia),                                                                                                                                                                                                                                  R.minutos_tardanza  = 0                                                                                                                                                                                                                                                    FROM dbo.ASISTENCIA_RESUMEN_DIARIO R
  INNER JOIN dbo.PROGRAMACION_TURNOS_SEMANAL P
      ON  P.id_trabajador = R.id_trabajador
      AND P.fecha         = R.fecha_asistencia
  WHERE P.tipo_ausencia IS NOT NULL
    AND R.fecha_asistencia < @FechaProceso
    AND R.estado_asistencia NOT IN (
          'DESCANSO_MEDICO', 'MATERNIDAD', 'PATERNIDAD',
          'VACACIONES', 'PERMISO_SIN_GOCE'
        );

  PRINT '>> Retroactivo corregido: ' + CAST(@@ROWCOUNT AS VARCHAR) + ' días';




  END
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_COBERTURA_TURNO]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- PASO 8: SP_REGISTRAR_COBERTURA_TURNO (actualizado)
-- CAMBIO: usa AST.id_horario_turno directo (no JOIN HT)
-- ============================================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_COBERTURA_TURNO]
    @fecha                     DATE,
    @id_trabajador_cubre       INT,
    @id_trabajador_ausente     INT,
    @id_horario_turno_original INT,
    @tipo_cobertura            VARCHAR(15),
    @fecha_swap_devolucion     DATE = NULL,
    @aprobado_por              INT  = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF @tipo_cobertura = 'ANTICIPO' AND @fecha_swap_devolucion IS NULL
    BEGIN RAISERROR('ANTICIPO requiere fecha_swap_devolucion.',16,1); RETURN; END
    IF @id_trabajador_cubre = @id_trabajador_ausente
    BEGIN RAISERROR('Cubre y ausente no pueden ser el mismo.',16,1); RETURN; END
    IF EXISTS (SELECT 1 FROM dbo.COBERTURA_TURNOS
               WHERE fecha = @fecha AND id_trabajador_ausente = @id_trabajador_ausente
                 AND estado IN ('PENDIENTE','APROBADO'))
    BEGIN RAISERROR('Ya existe cobertura activa para ese trabajador en esa fecha.',16,1); RETURN; END

    BEGIN TRANSACTION;

    IF @tipo_cobertura IN ('COBERTURA','ANTICIPO')
    BEGIN
        INSERT INTO dbo.COBERTURA_TURNOS
            (fecha,id_trabajador_cubre,id_trabajador_ausente,id_horario_turno_original,
             tipo_cobertura,fecha_swap_devolucion,aprobado_por,estado)
        VALUES (@fecha,@id_trabajador_cubre,@id_trabajador_ausente,@id_horario_turno_original,
                @tipo_cobertura,@fecha_swap_devolucion,@aprobado_por,'PENDIENTE');
    END
    ELSE IF @tipo_cobertura = 'CAMBIO'
    BEGIN
        -- Lee id_horario_turno directamente de ASIGNACIONES_TURNO (columna nueva)
        DECLARE @hC INT;
        SELECT TOP 1 @hC = id_horario_turno
        FROM dbo.ASIGNACIONES_TURNO
        WHERE id_trabajador = @id_trabajador_cubre AND es_vigente = 1;

        IF @hC IS NULL
        BEGIN ROLLBACK; RAISERROR('El trabajador que cubre no tiene id_horario_turno en su asignación vigente.',16,1); RETURN; END

        DECLARE @idA INT, @idB INT;

        INSERT INTO dbo.COBERTURA_TURNOS
            (fecha,id_trabajador_cubre,id_trabajador_ausente,id_horario_turno_original,tipo_cobertura,aprobado_por,estado)
        VALUES (@fecha,@id_trabajador_cubre,@id_trabajador_ausente,@id_horario_turno_original,'CAMBIO',@aprobado_por,'PENDIENTE');
        SET @idA = SCOPE_IDENTITY();

        INSERT INTO dbo.COBERTURA_TURNOS
            (fecha,id_trabajador_cubre,id_trabajador_ausente,id_horario_turno_original,tipo_cobertura,aprobado_por,estado,id_cobertura_reciproca)
        VALUES (@fecha,@id_trabajador_ausente,@id_trabajador_cubre,@hC,'CAMBIO',@aprobado_por,'PENDIENTE',@idA);
        SET @idB = SCOPE_IDENTITY();

        UPDATE dbo.COBERTURA_TURNOS SET id_cobertura_reciproca = @idB WHERE id_cobertura = @idA;
    END

    COMMIT TRANSACTION;
    SELECT id_cobertura, tipo_cobertura, estado FROM dbo.COBERTURA_TURNOS WHERE id_cobertura = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_reporte_asistencia]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- PASO 10: sp_reporte_asistencia y sp_reporte_inasistencia
-- FIX: @fechaFin era OUTPUT, ahora es INPUT
-- ============================================================
CREATE PROCEDURE [dbo].[sp_reporte_asistencia]
    @fechaInicio DATETIME,
    @fechaFin    DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    WITH Dias AS (
        SELECT t.id_trabajador, d.Fecha
        FROM TRABAJADORES t
        CROSS JOIN (
            SELECT DATEADD(DAY, v.number, @fechaInicio) AS Fecha
            FROM master..spt_values v
            WHERE v.type = 'P' AND v.number <= DATEDIFF(DAY, @fechaInicio, @fechaFin)
        ) d
    )
    SELECT d.id_trabajador, p.apellidos_nombres, d.Fecha,
           j.nombre_tipo AS tipo_justificacion, j2.motivo
    FROM Dias d
    LEFT JOIN MARCACIONES_ASISTENCIA m
        ON m.id_trabajador = d.id_trabajador AND CAST(m.fecha_hora AS DATE) = d.Fecha
    LEFT JOIN JUSTIFICACIONES j2
        ON j2.id_trabajador = d.id_trabajador AND j2.fecha_justificada = d.Fecha
    LEFT JOIN TIPO_JUSTIFICACION j ON j.id_tipo_justificacion = j2.id_tipo_justificacion
    LEFT JOIN PERSONAS p ON p.id_persona = (SELECT id_persona FROM TRABAJADORES WHERE id_trabajador = d.id_trabajador)
    WHERE m.id_marcacion IS NULL
    ORDER BY p.apellidos_nombres, d.Fecha;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORTE_ASISTENCIA_FILTRADO]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


   CREATE PROCEDURE [dbo].[SP_REPORTE_ASISTENCIA_FILTRADO]   
   @FechaInicio DATE,                                        
   @FechaFin    DATE,                            
   @Dni         VARCHAR(20) = NULL,           
   @JefeId      INT = NULL        -- NULL = SUPERADMIN ve todo  
   AS                                                                                                                                                                                                                                                                             BEGIN
      SET NOCOUNT ON;

      SELECT
          T.id_trabajador                                     AS Id_Trabajador,
          P.dni                                               AS DNI,
          P.apellidos_nombres                                 AS Nombre,
          ISNULL(T.cargo,             '—')                   AS Cargo,
          ISNULL(T.area_departamento, '—')                   AS Area,

          -- Días programados (excluye descansos y ausencias con goce)
          COUNT(CASE WHEN R.estado_asistencia NOT IN (
              'DESCANSO','DESCANSO_COMPENSATORIO','VACACIONES',
              'DESCANSO_MEDICO','MATERNIDAD','PATERNIDAD','PERMISO_SIN_GOCE'
          ) THEN 1 END)                                       AS Dias_Programados_Laborables,

          -- Días efectivamente trabajados (con o sin tardanza)
          COUNT(CASE WHEN R.estado_asistencia = 'TRABAJO'
                      THEN 1 END)                             AS Dias_Trabajados,

          -- Descansos y compensatorios
          COUNT(CASE WHEN R.estado_asistencia IN (
              'DESCANSO','DESCANSO_COMPENSATORIO')
                      THEN 1 END)                             AS Dias_Descanso_Feriados,

          -- Inasistencias = FALTA + PERMISO_SIN_GOCE
          COUNT(CASE WHEN R.estado_asistencia IN (
              'FALTA','PERMISO_SIN_GOCE')
                      THEN 1 END)                             AS Inasistencias,

          -- Días con tardanza registrada
          COUNT(CASE WHEN R.minutos_tardanza > 0
                      THEN 1 END)                             AS Dias_Tardanza,

          -- Tiempo total de tardanza formateado
          CASE
              WHEN ISNULL(SUM(R.minutos_tardanza), 0) = 0
                  THEN '0 min'
              WHEN SUM(R.minutos_tardanza) < 60
                  THEN CAST(SUM(R.minutos_tardanza) AS VARCHAR(10)) + ' min'
              ELSE CAST(SUM(R.minutos_tardanza) / 60 AS VARCHAR(5))
                 + 'h '
                 + CAST(SUM(R.minutos_tardanza) % 60 AS VARCHAR(5))
                 + 'm'
          END                                                 AS Tiempo_Tardanza,

          -- Faltas sin justificación (solo estado FALTA)
          COUNT(CASE WHEN R.estado_asistencia = 'FALTA'
                      THEN 1 END)                             AS Faltas,

          -- Horas extra formateadas
          CASE
              WHEN ISNULL(SUM(R.minutos_extra), 0) = 0
                  THEN '0 min'
              WHEN SUM(R.minutos_extra) < 60
                  THEN CAST(SUM(R.minutos_extra) AS VARCHAR(10)) + ' min'
              ELSE CAST(SUM(R.minutos_extra) / 60 AS VARCHAR(5))
                 + 'h '
                 + CAST(SUM(R.minutos_extra) % 60 AS VARCHAR(5))
                 + 'm'
          END                                                 AS Horas_Extra,

          -- Justificados = vacaciones + ausencias con goce
          COUNT(CASE WHEN R.estado_asistencia IN (
              'VACACIONES','DESCANSO_MEDICO','MATERNIDAD','PATERNIDAD')
                      THEN 1 END)                             AS Justificados

      FROM dbo.ASISTENCIA_RESUMEN_DIARIO R
      INNER JOIN dbo.TRABAJADORES T ON R.id_trabajador = T.id_trabajador
      INNER JOIN dbo.PERSONAS     P ON T.id_persona    = P.id_persona

      WHERE
          R.fecha_asistencia BETWEEN @FechaInicio AND @FechaFin
          AND (@JefeId IS NULL OR T.id_jefe_inmediato = @JefeId)
          AND (@Dni    IS NULL OR P.dni = @Dni)
          AND T.id_estado != 11          -- excluir dados de baja

      GROUP BY
          T.id_trabajador,
          P.dni,
          P.apellidos_nombres,
          T.cargo,
          T.area_departamento

      ORDER BY
          P.apellidos_nombres ASC;
  END;
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORTE_DETALLE_TARDANZAS]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  -- ══════════════════════════════════════════════════ 
  -- 1. SP_REPORTE_DETALLE_TARDANZAS  (@Area → @JefeId)  
  -- ══════════════════════════════════════════════════     
  CREATE PROCEDURE [dbo].[SP_REPORTE_DETALLE_TARDANZAS]
      @FechaInicio DATE,
      @FechaFin    DATE,      
	  @JefeId      INT = NULL       
	  -- NULL = sin filtro (SUPERADMIN ve todo)   
	  AS
  BEGIN
      SET NOCOUNT ON;

      SELECT
          P.dni                                           AS DNI,
          P.apellidos_nombres                             AS Nombre,
          T.area_departamento                             AS Area,
          CONVERT(VARCHAR, R.fecha_asistencia, 103)       AS Fecha,
          R.estado_asistencia                             AS Estado,
          ISNULL(FORMAT(R.hora_entrada_teorica, 'HH:mm'), '--:--') AS Hora_Turno,
          ISNULL(FORMAT(R.hora_entrada_real,    'HH:mm'), '--:--') AS Hora_Marcacion,
          R.minutos_tardanza                              AS Minutos_Late,
          CASE
              WHEN R.minutos_tardanza > 0 THEN CAST(R.minutos_tardanza AS VARCHAR(10)) + ' min'
              ELSE 'Puntual'
          END                                             AS Tiempo_Tardanza_Texto

      FROM dbo.ASISTENCIA_RESUMEN_DIARIO R
      INNER JOIN dbo.TRABAJADORES T ON R.id_trabajador = T.id_trabajador
      INNER JOIN dbo.PERSONAS     P ON T.id_persona    = P.id_persona

      WHERE
          R.fecha_asistencia BETWEEN @FechaInicio AND @FechaFin
          AND (@JefeId IS NULL OR T.id_jefe_inmediato = @JefeId)
          AND R.estado_asistencia NOT IN (
              'DESCANSO', 'DESCANSO_COMPENSATORIO', 'VACACIONES',
              'DESCANSO_MEDICO', 'MATERNIDAD', 'PATERNIDAD', 'PERMISO_SIN_GOCE'
          )
      ORDER BY
          R.fecha_asistencia DESC,
          R.minutos_tardanza DESC;
  END;
GO
/****** Object:  StoredProcedure [dbo].[sp_reporte_inasistencia]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_reporte_inasistencia]
    @fechaInicio DATETIME,
    @fechaFin    DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    WITH Dias AS (
        SELECT t.id_trabajador, d.Fecha
        FROM TRABAJADORES t
        CROSS JOIN (
            SELECT DATEADD(DAY, v.number, @fechaInicio) AS Fecha
            FROM master..spt_values v
            WHERE v.type = 'P' AND v.number <= DATEDIFF(DAY, @fechaInicio, @fechaFin)
        ) d
    )
    SELECT d.id_trabajador, p.apellidos_nombres, d.Fecha,
           j.nombre_tipo AS tipo_justificacion, j2.motivo
    FROM Dias d
    LEFT JOIN MARCACIONES_ASISTENCIA m
        ON m.id_trabajador = d.id_trabajador AND CAST(m.fecha_hora AS DATE) = d.Fecha
    LEFT JOIN JUSTIFICACIONES j2
        ON j2.id_trabajador = d.id_trabajador AND j2.fecha_justificada = d.Fecha
    LEFT JOIN TIPO_JUSTIFICACION j ON j.id_tipo_justificacion = j2.id_tipo_justificacion
    LEFT JOIN PERSONAS p ON p.id_persona = (SELECT id_persona FROM TRABAJADORES WHERE id_trabajador = d.id_trabajador)
    WHERE m.id_marcacion IS NULL
    ORDER BY p.apellidos_nombres, d.Fecha;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORTE_MENSUAL_ASISTENCIA]    Script Date: 15/05/2026 16:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- PASO 9: SP_REPORTE_MENSUAL_ASISTENCIA (corregido)
-- FIX: id_estado=10 (activos), agrega Sucursal y Vacaciones
-- ============================================================
CREATE PROCEDURE [dbo].[SP_REPORTE_MENSUAL_ASISTENCIA]
    @Mes  INT,
    @Anio INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @FechaInicio DATE = DATEFROMPARTS(@Anio, @Mes, 1);
    DECLARE @FechaFin    DATE = EOMONTH(@FechaInicio);
    DECLARE @DiasEnMes   INT  = DAY(@FechaFin);

    SELECT
        T.id_trabajador,
        P.dni                 AS DNI,
        P.apellidos_nombres   AS Nombre,
        T.cargo               AS Cargo,
        T.area_departamento   AS Area,
        S.nombre_sucursal     AS Sucursal,
        ISNULL(SUM(CASE WHEN R.hora_entrada_real IS NOT NULL THEN 1 ELSE 0 END), 0) AS Dias_Trabajados,
        ISNULL(SUM(CASE WHEN R.minutos_tardanza > 0 THEN 1 ELSE 0 END), 0)          AS Dias_Tardanza,
        CAST(ISNULL(SUM(R.minutos_tardanza), 0) / 60 AS VARCHAR) + 'h ' +
            CAST(ISNULL(SUM(R.minutos_tardanza), 0) % 60 AS VARCHAR) + 'm'          AS Tiempo_Tardanza,
        (@DiasEnMes - COUNT(R.id_resumen))                                           AS Dias_Sin_Registro,
        ISNULL(SUM(CASE WHEN R.estado_asistencia = 'FALTA'      THEN 1 ELSE 0 END), 0) AS Faltas,
        ISNULL(SUM(CASE WHEN R.estado_asistencia = 'DESCANSO'   THEN 1 ELSE 0 END), 0) AS Descansos,
        ISNULL(SUM(CASE WHEN R.estado_asistencia = 'VACACIONES' THEN 1 ELSE 0 END), 0) AS Vacaciones,
        CAST(ISNULL(SUM(R.minutos_extra), 0) / 60 AS VARCHAR) + 'h'                 AS Horas_Extra
    FROM dbo.TRABAJADORES T
    INNER JOIN dbo.PERSONAS  P ON T.id_persona  = P.id_persona
    LEFT  JOIN dbo.SUCURSAL  S ON T.id_sucursal = S.id_sucursal
    LEFT  JOIN dbo.ASISTENCIA_RESUMEN_DIARIO R
        ON T.id_trabajador = R.id_trabajador
        AND R.fecha_asistencia BETWEEN @FechaInicio AND @FechaFin
        AND R.estado_asistencia <> 'FERIADO'
    WHERE T.id_estado = 10  -- ACTIVO
    GROUP BY T.id_trabajador, P.dni, P.apellidos_nombres, T.cargo, T.area_departamento, S.nombre_sucursal
    ORDER BY P.apellidos_nombres;
END
GO
